<li>
  <p><img src="{{question.avatar}}"></p>
   <h2>{{question.title}}</h2>
   <h4>{{question.author}}</h4>
   <h6>{{question.date}}</h6>
   <h3>{{question.content}}</h3><br>
   {{update-question question=question update="update"}}
   <button {{action 'delete' question}}>Delete Question</button>
</li>
