<h1>Welcome To Larry Questions!</h1>

<ul>
  {{#each model as |question|}}
  <p><img src="{{question.avatar}}"></p>
     <h2>{{question.title}}</h2>
     <h4>{{question.author}}</h4>
     <h6>{{question.date}}</h6>
     <h3>{{question.content}}</h3><br>

  {{/each}}
</ul>

{{#link-to 'question'}}Click here.{{/link-to}}
